* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Small Screen */
.container {
  margin: 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__left {
  margin-bottom: 1rem;
}

.hero__title {
  color: #7469b6;
  margin-bottom: 1rem;
  font-size: 2.44rem;
}

.hero__genre {
  color: #ad88c6;
  margin: 0rem;
  font-size: 1.59rem;
}

.hero__description {
  color: #64748b;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #7469b6;
  color: #fff;
  margin-bottom: 3rem;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  margin: 1.5rem 0rem 1.5rem 0rem;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
   * Nothing TODO Here.
   * We dont change style Hero. 
   */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 0rem auto;
    margin-bottom: 2rem;
  }

  .hero {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 50%;
    margin: 0rem 5rem 0rem 0rem;
  }

  .hero__right {
    flex-basis: 50%;
    margin: 5rem 0rem 0rem 5rem;
  }

  .hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 0rem 0rem 2rem 0rem;
  }

  .hero__description {
    color: #64748b;
    margin: 1rem 0rem 2rem 0rem;
  }

  .hero__title {
  color: #7469b6;
  margin-top: 5rem;
  font-size: 2.5rem;
}
}
