/* Small Screen */
.container {
  background-color: #f8f9fa;
  max-width: 1200px;
}

.covidglobal {
  text-align: center;
  margin: 2rem;
  padding: 5rem;
}

.covidglobal__title {
  text-align: center;
  color: #7469b6;
  font-size: 2.5rem;
}

.covidglobal__desc {
  color: #118ab2;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.covidglobal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}

.covidglobal__content {
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
  margin: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.covidglobal__status {
  font-size: 1.5rem;
  color: black;
  margin: auto;
}

.covidglobal__case1 {
  font-size: auto;
  color: #ad88c6;
}

.covidglobal__case2 {
  color: #118ab2;
  font-size: auto;
}

.covidglobal__case3 {
  color: #7469b6;
  font-size: auto;
}

.covidglobal__region {
  margin: 1rem 0 1rem 0;
}

.covid__data {
  margin: 1rem;
}

.confirmed {
  display: flex;
  justify-content: space-between;
}

.recovered {
  display: flex;
  justify-content: space-between;
}

.death {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list1,
.list2,
.list3 {
  text-align: left;
}

.list1 > h3,
.confirmed > i {
  color: #7469b6;
  align-items: center;
}

.list2 > h3,
.recovered > i {
  color: #ad88c6;
  align-items: center;
}

.list3 > h3,
.death > i {
  color: #118ab2;
  align-items: center;
}

.situations__container {
  margin-top: 5rem;
  background-color: white;
}

/* Medium Screen */
@media (min-width: 768px) {
  .covidglobal__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .covidglobal__content {
    background-color: white;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
  }

  .covidglobal__status {
    font-size: 1rem;
    color: black;
    margin: 0 2rem 0 2rem;
  }

  .covidglobal__case1,
  .covidglobal__case2,
  .covidglobal__case3 {
    margin: 0 2rem 0 2rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    margin: auto;
  }

  .covidglobal__content {
    flex-basis: 30%;
    max-width: 1200px;
  }

  .covidglobal__status {
    font-size: 1.7rem;
    color: black;
    margin: 0 2.5rem 0 2.5rem;
  }

  .covidglobal__case1,
  .covidglobal__case2,
  .covidglobal__case3 {
    color: #ad88c6;
    font-size: 2.5rem;
    margin: 0 2.5rem 0 2.5rem;
  }

  .covidglobal__content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
